<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./pagination.css">
  <title>Pagination</title>
</head>
<body>
  <div class="pagination">
   <button class="btn">
      <svg
         xmlns='http://www.w3.org/2000/svg'
        class="btn-icon"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        >
        <path
         stroke-linecap="round"
         stroke-linejoin="round"
         stroke-width="2"
         d="M15 19l-7-7 7-7"
        />
       >
       </svg>
    </button>
      <div class="numbers">
         <a class="num">1</a>
         <a class="num">2</a>
         <a class="num selected">3</a>
         <a class="num">4</a>
         <a class="num">5</a>
         <a class="num">6</a>
         <span>....</span>
         <a class="num">23</a>
      </div>
      
    <button class="btn">
      <svg
         xmlns='http://www.w3.org/2000/svg'
        class="btn-icon"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        >
        <path
         stroke-linecap="round"
         stroke-linejoin="round"
         stroke-width="2"
         d="M9 5l7 7-7 7"
        />
       >
       </svg>
    </button>
    </div> 
</body>
</html>