* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
  color: #343a40;
  line-height: 1;
	font-size: 24px;
  height: 100vh;
	text-align: center;
	font-weight: bold;

	display: grid;
	grid-template-columns: 80px 400px 1fr 250px;
	grid-template-rows: 80px 1fr;
}
nav,section,main,aside{
	padding-top: 24px;
}
nav{
  background-color: #343a40;
	color: #fff;
	/* grid-row: 1 / 2 span; */
	grid-row: 1 / -1;
}
menu{
	background-color:  #7048e8 ;
	/* grid-column: 2 / 4 span; */
	grid-column: 2 /-1;
	display: flex;
	align-items: center;
	gap: 12px;
	padding: 0 40px;
}
section{
	background-color: #e9ecef  ;
	overflow: auto;
	padding: 40px;
	display: flex;
	flex-direction: column;
	gap: 40px;

}
aside{
	background-color: #e9ecef ;
}

.email{
	background-color: #adb5bd;
	height: 96px;
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: center; 
	/* width: 75%;
	margin: 20px auto;
	height: 100px;
	color: #fff; 
*/
}

button{
	display: inline-block;
	font-weight: bold;
	font-size: 16px;
	background-color: #5f3dc4;
	color: #fff;
	border: none;
	cursor: pointer;
  padding: 8px 12px;
}

button:last-child{
	background-color: #d6336c;
	margin-left: auto;
}